p
{
    background: azure;
    color: #000000;
}
li
{
    background:lightyellow ;
    color: #000000;
}
h1
{
    background:dodgerblue ;
    color: ghostwhite;
}
h2
{
    background:dodgerblue ;
    color: ghostwhite;
}